<a data-toggle="modal" data-target="#homework-list-{{ homework.id }}">
  {{ homework.title }}
</a>
<!-- Modal -->
<div class="modal fade" id="homework-list-{{ homework.id }}" tabindex="-1" role="dialog" aria-labelledby="Detials for {{ homework.title }}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{ homework.title }}</h4>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#question-tabs-{{ homework.id }}" aria-controls="question" role="tab" data-toggle="tab">Question</a></li>
          <li role="presentation"><a href="#assignments-form-tabs-{{ homework.id }}"  aria-controls="answer form" role="tab" data-toggle="tab" ng-if="currentUserIs('teacher')">Assignments</a></li>
          <li role="presentation"><a href="#answer-form-tabs-{{ homework.id }}"  aria-controls="answer form" role="tab" data-toggle="tab" ng-if="currentUserIs('student')">Answer Form</a></li>
          <li role="presentation"><a href="#answers-tabs-{{ homework.id }}" aria-controls="messages" role="tab" data-toggle="tab">Answers</a></li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="question-tabs-{{ homework.id }}">
            {{ homework.question }}
            <br />
            <br />
            Due: {{ homework.due | date : format : medium}}
          </div>
          <div role="tabpanel" class="tab-pane" id="assignments-form-tabs-{{ homework.id }}" ng-if="currentUserIs('teacher')" >
           <div homework-assignment-form homework="homework"></div>
          </div>
          <div role="tabpanel" class="tab-pane" id="answer-form-tabs-{{ homework.id }}" ng-if="currentUserIs('student')" >
            <div homework-answer-form id="homework-answer-form-wrapper-{{ homework.id }}" homework="homework" ng-if="currentUserCanAnswer(homework)"></div>
            <div ng-if="!currentUserCanAnswer(homework)">Homework is past due, answers cannot be submitted.</div>
          </div>
          <div role="tabpanel" class="tab-pane" id="answers-tabs-{{ homework.id }}" ng-if="answers">
            <div homework-answer-list answers="answers"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>